
@{
    ViewData["Title"] = "Inmarsat Service";
}
@section metas
{
    <meta name="description" content="The most suitable Inmarsat-C products in JRC and KVH brands">
    <meta name="keywords" content="insmarsat, inmarsat-c">
}
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a asp-action="Services" asp-controller="Home" title="Inmarsat">Services</a></li>
            <li>@ViewData["Title"]</li>
        </ol>


    </div>
</section><!-- End Breadcrumbs -->

<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title">
            <span>INMARSAT-C</span>
            <h1>INMARSAT-C</h1>
        </div>
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="150">

            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 portfolio-item filter-web" s>
                    <img src="~/img/inmarsat/@item.Image" class="img-fluid" alt="" style="border: 1px solid rgba(255, 0, 0, .1);">
                    <div class="portfolio-info">
                        <a href="~/img/inmarsat/@item.Image" data-gall="portfolioGallery" class="venobox preview-link" title="Inmarsat" alt="Inmarsat"><i class="bx bx-expand"></i></a>
                        <h3 style="color:darkred; font-size:22px;"> @item.ProductName </h3>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

