
@{
    ViewData["Title"] = "Radar Service";
}
@section metas
{
    <meta name="description" content="We are here for all your needs regarding radar services!">
    <meta name="keywords" content="radar, radar service turkey, radar service, radar apt, radar maintenance, radar survey, radar spare parts, radar repair, radar systems">
}
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a asp-action="Services" asp-controller="Home" title="Radar">Services</a></li>
            <li>@ViewData["Title"]</li>
        </ol>

    </div>
</section><!-- End Breadcrumbs -->

<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title">
            <span>RADAR</span>
            <h1>RADAR</h1>
        </div>
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="150">

            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <img src="~/img/radar/@item.Image" class="img-fluid" alt="" style="border: 1px solid rgba(255, 0, 0, .1)" ;>
                    <div class="portfolio-info">
                        <a href="~/img/radar/@item.Image" data-gall="portfolioGallery" class="venobox preview-link" title="Radar" alt="Radar"><i class="bx bx-expand"></i></a>
                        <h3 style="color:darkred; font-size:20px;"> @item.ProductName </h3>
                    </div>
                </div>
            }
        </div>
    </div>
</section>