
@{
    ViewData["Title"] = "Sound Reception System";
}
@section metas
{
    <meta name="description" content="Click to see or get support for Sound Reception Systems in Jotron and many other brands.">
    <meta name="keywords" content="Sound Reception System">
}
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a asp-action="Services" asp-controller="Home" title="Sound Reception System">Services</a></li>
            <li>@ViewData["Title"]</li>
        </ol>


    </div>
</section><!-- End Breadcrumbs -->

<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="section-title">
            <span>SOUND RECEPTION SYSTEM</span>
            <h1>Sound Reception System</h1>
        </div>
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="150">

            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <img src="~/img/sound_reception_system/@item.Image" class="img-fluid" alt="" style="border: 1px solid rgba(255, 0, 0, .1)" ;>
                    <div class="portfolio-info">
                        <a href="~/img/sound_reception_system/@item.Image" data-gall="portfolioGallery" class="venobox preview-link" title="Sound Reception System" alt="Sound Reception System"><i class="bx bx-expand"></i></a>
                        <h3 style="color:darkred; font-size:22px;"> @item.ProductName </h3>
                    </div>
                </div>
            }
        </div>
    </div>
</section>